.navbar
{
    background-color: #2c2d33;
    padding-left: 100px;
    position:sticky;
    top:0;
    z-index: 5;
   padding-bottom: 20px;
   padding-top: 20px;
}
#headerlogo{
    height:60px;
    width: 60px; 
    border-radius: 5px;
}

.collapse{
    background-color: #2c2d33;
    padding-left: 60px;  
   
}
.nav-item{
    padding-right: 90px;
    margin-top: 30px;
    
}
.nav-link{
    color:aliceblue;
    font-family:'monospace', Courier ;
    font-weight: 700;
    font-size: large;
}

.navbar-toggler-icon svg{
    fill:white;
}