.homepage{  
 margin: 50px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;  
}
.homechild{
display: flex;
flex-direction: row;
align-items: center;
flex-wrap: wrap;
max-width:70rem;
}
.name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.homeimg{
  margin-top: 40px;
  height: 40%;
  width: 90%;
}
.workitem{
 width: 300px;
 height:500px;
}
.lucy{
  font-family: fantasy;
  
}
