.workpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.workpagechild{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-top:60px ;
    margin-left: 50px;
    margin-right:15px;
    margin-bottom: 30px;
    
}
.worktour{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin-left: 50px;
    max-width: 70rem;
    padding-bottom: 20px;
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
}
.workwords{
    display: flex;
    flex-direction:column;
    align-items: flex-start;    
}
.workimg{
    width: 100%;
    height: 70%;
    border-radius: 10px;
}
.workimgdiv{
   max-width: 25rem;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
    margin-left: 20px;
}